# Build files
.gradle
# KMK -->
# Local Gradle user home (dependencies, wrapper downloads, and temporary files)
/.gradle-user-home/
# KMK <--
#.vscode
.kotlin
build

# IDE files
*.iml
.idea/*
!.idea/icon.png
/captures
.history

# Configuration files
local.properties

# macOS specific files
.DS_Store

/app/client_secrets.json
/app/google-services.json
*.jks
app/standard/preview/*
